@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Você está na pagina inicial.</h1>
    <ul>
        <p class="lead"> Menu:  </p>
        <li>  <p>@Html.ActionLink("Cadastrar Clientes", "Index", "TBClientes")</p> </li>
        <li>  <p>@Html.ActionLink("Cadastrar Produtos", "Index", "TBProdutos")</p> </li>
    </ul>


